/* You can add global styles to this file, and also import other style files */

body, h1 {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 55vw;
    margin: 0 auto;
}