h1 {
    color: white;
}

.city_temperature {
    font-weight: 400;
    font-size: 4rem;
    margin-left: 70%;
    margin-top: 0;
}

.city_name {
    margin-top: 55%;
    margin-left: 20px;
}

.fancy_card {
    margin: 10px;
}
  
.fancy_card:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}


    